<div class="container">
  <h1 class="title">Register</h1>

  <form class="add-form"  >
           
        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            [(ngModel)]="customer.email"
            id="username"
            placeholder="Type your Email"
          />
          <p class="error" *ngIf="errorUserName">Dwse username</p>
        </div>
      

        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="text"
            name="password"
            [(ngModel)]="customer.password"
            id="Password"
            placeholder="Type your password"
          />
          <p class="error" *ngIf="errorPassword">Dwse username</p>
        </div>
        
      
        <input (click)="onRegister()" type="submit" value="Sign Up" class="btn btn-block" />
        
  </form>

  <nav>
    <span></span>Already have an account?
    <a routerLink="/login">Sing in</a>
  </nav>
</div>

