<div [style.opacity]="showOpacity ? '1':0.3" id="myLibrary">
    <nav>
        <h1>My Library</h1>

    </nav>

    <div id="displayBooks" > 
        <div class="books" *ngFor="let book of books | fresh:useridd">
            <h3>{{book.title}}</h3>
            <p>Author:{{book.author}}</p>
            <p>Pages:{{book.pages}}</p>
            <div>
                <button (click)="change(book)" *ngIf="book.read else elseBlock" class="btn">Read</button>
                <ng-template #elseBlock>
                    <button (click)="change(book)" class="btn">Not Read</button>

                </ng-template>
                <button (click)="deleteBook($event,book)" class="btn rmv">delete</button>
            </div>
        </div>

        <fa-icon id="add" (click)="formBook()" [icon]="faPlusCircle"></fa-icon> 
    </div>
    <!-- | fresh:useridd -->
</div>
<form [style.display]="showForm? 'block':'none'" id="divForm">
  <fa-icon id="cancel" (click)="closeForm()" [icon]="faTimes"></fa-icon> 
    <div class="form-control">
        <label  for="title">Title</label>
        <input         
          type="text"
          name="title"
          [(ngModel)]="title"
          id="title"
          placeholder="Type the Title of the Book"         
        />
      <!--   [(ngModel)]="fullName" <p class="error" *ngIf="errorFullName">Dwse name</p> -->
      </div>
      <div class="form-control">
        <label  for="author">Author</label>
        <input         
          type="text"
          name="author"
          [(ngModel)]="author"
          id="author"
          placeholder="Type the Author of the Book"         
        />
      <!--   [(ngModel)]="fullName" <p class="error" *ngIf="errorFullName">Dwse name</p> -->
      </div>

      <div class="form-control">
        
        <label  for="pages">Pages</label>
        <input         
          type="number"
          name="pages"
          [(ngModel)]="pages"
          id="pages"
          placeholder="Type the Pages of the Book"         
        />
      <!--   [(ngModel)]="fullName" <p class="error" *ngIf="errorFullName">Dwse name</p> -->
      </div>

      <div id="checkbox" class="form-control">
       
        <label id="check" for="checkbox">I have already read this book!</label>
        <input 
        type="checkbox" 
        id="checkbox"
        name="checkbox" 
        [(ngModel)]="read">
    </div>
    
          
    <div id="btns">
        <input (click)="newBook()" id="submit" class="btn btn-block" type="button" value="Add Book"> 
    </div>

  </form>

